/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.ytv {
   display: flex;
   gap: 1em;
   flex-wrap: wrap;
}
.ytv__info{
   display: flex;
   flex-wrap: wrap;
}

.ytv__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    flex-grow: 1;
}
.ytv__left {
   display: flex;
   gap: 1em;
   align-items: center;
   
}
.ytv__right {
   display: flex;
   gap: 1.25em;
   flex-grow: 1;
   justify-content: end;
}
.profile {
   display: flex;
   gap: 1em;
}
.profile__text {
   display: flex;
   flex-direction: column;
   gap: .5em;
}
.icon {

}
.btn--flex {
    
}